In [3]:
import numpy as np
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [11]:
np.arange(9).reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [12]:
frame

array([0, 1, 2, 3, 4, 5])

In [16]:
import pandas as pd
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index = ['a','b','c'],
                    columns = ['Pune','Denver','Texas'])
frame

   Pune  Denver  Texas
a     0       1      2
b     3       4      5
c     6       7      8

In [21]:
frame.loc[['b']]

   Pune  Denver  Texas
b     3       4      5

In [19]:
frame.iloc[['1']]

   Pune  Denver  Texas
b     3       4      5

In [22]:
city = ['Varanasi','Lucknow','Kanpur']

In [35]:
frame = np.arange(9)
frame.reindex(columns = city)

AttributeError: 'numpy.ndarray' object has no attribute 'reindex'

In [38]:
frame.reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])